/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  justify-content: center;
}

main img {
  width: 100%;
  
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1 ;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  width:100%;
  
}

header nav {
  display: flex;
  justify-content: center;
 
}

header nav ul {
  display: flex;
  list-style-type: none;
}


header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
}

/* -------  Search Form ------- */

form {
  border: 2px solid #ff385c;
  padding: 16px;

}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 150px;
}



form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;

}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  /* -------  General ------- */

  .group {
    display: flex;
    flex-direction: row;
  }

  .item {
    flex: 1;
    margin: 10px;
    width: 80px;  
  }

  #ideas .group {
    flex-flow: row wrap;
  }

  .item-double {
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 40px;
    font-size: medium;
    
  }
  
  /* -------  Header ------- */

  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-size: 30px;
    margin: 14px 0px;
    color: #fff;
    font-family: "Pangolin", cursive;
    padding-top: 0;
    justify-content: center;
  }

  header nav ul {
    padding: 10px 10px 0 0;
  }

  /* -------  Form ------- */ 

  form {
    display: flex;
    justify-content: center;

  }

  form div {
    min-width: 0;
    flex-direction: column;
    display: flex;
  }

  form label {
    align-self: flex-start;
  }

  form select, form input, form button {
    width: 100%;
    margin-bottom: 0px;
  }

  form button {
    font-size: 15px;
    padding: 10px;
  }

  
  /* ------- About ------- */ 

  #about .group {
    display: flex;
    align-items: row;
    width: 100%
  }

  /* ------- Host ------- */ 

  #host .group {
    display: flex;
    align-items: center;
  }

 

}